html,
body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* COLORS */

:root {
    --primary-color: #e9eeee;
    --secondary-color: #4a4c66;
    --fade-secondary-color: #292c52;
    --active-color: #ffe13e;
    --text-color: #656478;
}

.primary-bg{
    background-color: #202242;
}
.secondary-bg{
    background-color: #ffe13e;
}

.third-bg{
    background-color: #fbf8f1;
}

#intro {
    background-image: url(../img/bg.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

#brand,
.nav-link {
    color: var(--secondary-color);
    text-decoration: none;
}

#brand:hover,
.nav-link:hover {
    color: var(--fade-secondary-color);
}

#brand-bold {
    font-weight: 700;
}

/* NAV */

.nav-link {
    font-weight: bold;
}

.active {
    color: var(--active-color);
}

.btn-action {
    background-color: var(--active-color);
}

.btn-action:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

#intro__text {
    margin-top: 100px;
    color: var(--primary-color);
}

.absolute-bottom{
    bottom: -20px;
    right: -20px;
}

