html,
body {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* COLORS */

:root {
    --primary-color: #d4dada;
    --secondary-color: #4a4c66;
    --fade-secondary-color: #292c52;
    --active-color: #e4cc47;
    --text-color: #656478;
    --bg-dark: #202242;
    --bg-secondary: #ffe13e;
}

#intro {
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}

.navbar-brand,
.nav-link {
    color: var(--secondary-color);
}

.navbar-brand:hover,
.nav-link:hover {
    color: var(--fade-secondary-color);
}

.bg-light {
    background-color: var(--primary-color);
}

.nav-link {
    font-weight: 700;
}

.active {
    color: var(--active-color);
}

.btn {
    background-color: var(--active-color);
    color: var();
}

.btn:hover {
    background-color: var(--fade-secondary-color);
    color: var(--primary-color);
}

.bg-dark {
    background-color: var(--bg-dark) !important;
}

.bg-secondary {
    background-color: var(--bg-secondary) !important;
}

.position-absolute {
    bottom: -20px;
    right: 0;
}

.bg-darker {
    background-color: #171830;
}